<div class="container">
  <div class="grid-container">
    <!-- Primer cuadro: Toggle Switch para foco1 -->
    <div class="grid-item">
      <app-toggle-switch id="65fd4b80622ac8070b3ba25f"></app-toggle-switch>
    </div>
    
    <!-- Segundo cuadro: Toggle Switch para foco2 -->
    <div class="grid-item">
      <app-toggle-switch2 id="65fd4b85622ac8070b3ba260"></app-toggle-switch2>
    </div>
    
    <!-- Tercer cuadro: Toggle Switch para foco3 -->
    <div class="grid-item">
      <app-toggle-switch3 id="65fd4b88622ac8070b3ba261"></app-toggle-switch3>
    </div>
  </div>
  
  <!-- Rectángulo abajo -->
  <div class="rectangle">
    <p>Rectángulo</p>
  </div>
</div>
